.two-columns {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  align-self: start;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 0;
}

.two-columns__row {
  margin-bottom: 30px;
  margin-top: 30px;
}
