@import url(./_theme/section-subtitle_theme_dark.css);
.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  align-self: center;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
