.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0px;
  bottom: 0;
  z-index: 2;
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
